<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pets.mapper.AddressMapper">
    <insert id="insertNewAddress" parameterType="com.pets.pojo.entity.Address">
        INSERT INTO address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">
                name,
            </if>
            <if test="gender != null and gender >= 0">
                gender,
            </if>
            <if test="phone != null and phone != ''">
                phone,
            </if>
            <if test="customer_id != null and customer_id != ''">
                customer_id,
            </if>
            <if test="addressTitle != null and addressTitle != ''">
                addressTitle,
            </if>
            <if test="addressDetails != null and addressDetails != ''">
                addressDetails,
            </if>
            <if test="longitude != null and longitude != ''">
                longitude,
            </if>
            <if test="latitude != null and latitude != ''">
                latitude,
            </if>
            <if test="door != null and door != ''">
                door,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">
                #{name},
            </if>
            <if test="gender != null and gender >= 0">
                #{gender},
            </if>
            <if test="phone != null and phone != ''">
                #{phone},
            </if>
            <if test="customer_id != null and customer_id != ''">
                #{customer_id},
            </if>
            <if test="addressTitle != null and addressTitle != ''">
                #{addressTitle},
            </if>
            <if test="addressDetails != null and addressDetails != ''">
                #{addressDetails},
            </if>
            <if test="longitude != null and longitude != ''">
                #{longitude},
            </if>
            <if test="latitude != null and latitude != ''">
                #{latitude},
            </if>
            <if test="door != null and door != ''">
                #{door},
            </if>
        </trim>
    </insert>

    <update id="updateDefaultAddressOne">
        UPDATE address
        SET defaultAddress = 1
        <where>
            defaultAddress = 0
            AND status = 0
            <if test="customer_id != null and customer_id > 0">
                AND  customer_id = #{customer_id}
            </if>
            <if test="id != null and id > 0">
                AND id = #{id}
            </if>
        </where>
    </update>


    <update id="updateDefaultAddressZero">
        UPDATE address
        SET defaultAddress = 0
        <where>
            <if test="customer_id != null and customer_id > 0">
                customer_id = #{customer_id}
            </if>
            <if test="id != null and id > 0">
                AND id = #{id}
            </if>
            AND defaultAddress = 1
            AND status = 0
        </where>
    </update>


    <update id="updateAddress">
        UPDATE address
        SET
            name = #{name},
            gender = #{gender},
            phone = #{phone},
            addressTitle = #{addressTitle},
            addressDetails = #{addressDetails},
            longitude = #{longitude},
            latitude = #{latitude},
            door = #{door},
            defaultAddress = 0
        WHERE id = #{id}
        and status = 0
    </update>

    <select id="queryAddressByUsername" resultType="com.pets.pojo.entity.Address">
        SELECT id, customer_id, name, door, gender, phone, addressTitle, addressDetails, createdate, updatedate, defaultAddress, longitude, latitude, status
        from address
        where customer_id = #{id}
        and status = 0
    </select>
</mapper>

